<section>
  <img src="ruby.svg" id="logo"/>
  <h1>Welcome to your new Ruby on Rails app!<h1>
  <h2><a href="https://github.com/heroku/ruby-rails-sample#readme">github.com/heroku/ruby-rails-sample</a></h2>
</section>
